# Are there meta features that are useful for prediction?

1. Shape of the image
2. Black/White vs RGB
3. Overall color distribution?
4. Exploiting Label correlation

In [1]:
import pandas as pd
import torch
from tqdm import tqdm
from path import Path
from PIL import Image
import utils

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

## Importing the Data

In [3]:
labels = pd.read_csv(utils.data_fp/'train.csv')

In [4]:
labels.head()

           Image         Id
0  0000e88ab.jpg  w_f48451c
1  0001f9222.jpg  w_c3d896a
2  00029d126.jpg  w_20df2c5
3  00050a15a.jpg  new_whale
4  0005c1ef8.jpg  new_whale

## Shape of the images

In [5]:
# function to get image shape
def get_image_shape(image_list, file_path):
    file_path = Path(file_path)
    result = []
    
    for img in tqdm(image_list):
        result.append(Image.open(file_path/img).size)
    
    return result

In [6]:
labels['img_shape'] = get_image_shape(labels.Image.to_list(), utils.data_train)

100%|██████████| 25361/25361 [00:01<00:00, 14868.59it/s]

In [7]:
labels['width'] = labels.img_shape.apply(lambda x: x[0])
labels['height'] = labels.img_shape.apply(lambda x: x[1])

In [8]:
labels.head()

           Image         Id    img_shape  width  height
0  0000e88ab.jpg  w_f48451c  (1050, 700)   1050     700
1  0001f9222.jpg  w_c3d896a   (758, 325)    758     325
2  00029d126.jpg  w_20df2c5  (1050, 497)   1050     497
3  00050a15a.jpg  new_whale  (1050, 525)   1050     525
4  0005c1ef8.jpg  new_whale  (1050, 525)   1050     525